.synopsis {
    color: #7E8184;             /* Light gray */
    font-style: italic;
}

/* Descendant Selector */
.synopsis em {
    font-style: normal;
}

.button:link,
.button:visited {
    display: block;
    text-decoration:

    color: #FFF;
    background-color: #5995DA;  /* Blue */
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #4D6063;  /* Dark gray */
    border-radius: 5px;

    width: 200px;
    margin: 20px auto;          /* Vertical Horizontal */
}

.button:hover {
    background-color: #6D2AFF;  /* Purple */
}

.button:active,
.button:visited:active {
    color: blue;
    background-color: #FF95DA;  /* Pink */
}

.page {
    width: 600px;
    margin: 0 auto;
    border: 1px solid red;
    box-sizing: border-box;
}
#button-3 {
  background-color: #D55C5F;    /* Red */
}
.call-to-action {
    font-style: italic;
    background-color: #EEB75A;  /* Yellow */
}

.call-to-action:link,
.call-to-action:visited {
    font-style: italic;
    background-color: #EEB76A;  /* Yellow */
}

.call-to-action:hover,
.call-to-action:visited:hover {
    background-color: #F5CF8E;  /* Light yellow */
}

.call-to-action:active,
.call-to-action:visited:active {
    background-color: #EEB75A;  /* Yellow */
}



a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: purple;
}

a:hover {
    color: aqua;
    text-decoration: underline;
}

a:active {
    color:red;
}

a:visited:hover {
    color: orange;
}

a:visited:active {
    color: red;
}

p:last-of-type {
    margin-bottom: 50px;
}

.page > p:first-of-type {
  color: #7E8184;
  font-style: italic;
}

#button-3 {
    color: #5D6063;             /* Dark gray */
}

#button-3:hover,
#button-3:visited:hover {
    background-color: #533242;  /* Brown */
}
